{% extends "base.html" %}
{% block title %}Input new Feature Values{% endblock %}



{% block root %}
<div class="container">
    <h1>Input new Feature Values</h1>
    <form action="" method="post">
        <table>
        <tr>
        {% for feature in context.features %}
            {% if loop.index0 % 4 == 0 %}
                </tr>
                <tr>
            {% endif %}
            <td><label for="{{feature}}">{{feature}}:</label></td>

            <td><input type="number" name="{{feature}}" value=""></td>
        {% endfor %}
        </tr>
        </table>
    <hr><br>
    <input type="submit" value="Predict" class="button-10" role="button">
    </form>
</div>
{% endblock %}
