<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input new Feature Values</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>


    <div class="container">
        <h1>Input new Feature Values</h1>
        <form action="" method="post">
        {% for feature in context.features %}
            {% if loop.index % 4 == 0 %}
                <hr><br>
            {% endif %}
            <label for="{{feature}}">{{feature}}</label>
            <input type="number" name="{{feature}}" value="">
        {% endfor %}
        <hr><br>
        <input type="submit" value="Input Feature">
        </form>
    </div>

</body>
</html>